<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <div class="mx-64 py-7 px-10 bg-white text-black my-24">
            <div class="w-full">
                <div class="w-full py-4">
                    <h1 class="text-2xl">Edit transaction</h1>
                </div>
                <div class="w-full relative">
                    <form action="/edit/<%= data.id %>" method="post">
                        <label for="">Title</label>
                        <input type="text" name="title" class="w-full border" value="<%= data.title %>">
                        <br>
                        <label for="">Category</label>
                        <select name="CategoryId" id="" class="w-full border">
                            <% result.map(el => { %>
                                <option <%= data.CategoryId === el.id ? "selected" : "" %> value="<%= el.id %>"><%= el.title %></option>
                            <% }) %> 
                        </select>
                        <br>
                        <label for="">Price</label>
                        <input type="text" name="amount" class="w-full border" value="<%= data.amount %>">
                        <br>
                        <label for="">Description</label>
                        <textarea name="description" id="" cols="30" rows="10" class="w-full border"><%= data.description %></textarea>
                        <br>
                        <label for="">Date</label>
                        <input type="date" class="w-full border px-3" name="date" value="<%= date %>">
                        <div class="w-full flex justify-end">
                            <div class="p-3 rounded-lg border bg-slate-200 mt-4">
                                <button type="submit" class="text-green-700">Edit transaction</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% if(error){ %>
        <% error.split(",").forEach(el => { %>
            <p class="text-red-700"><%= el %></p>
        <% }) %>
    <% } %>
</body>
</html>