<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="bg-gray-200">
    <div class="fixed h-full top-0 l-0 z-20 bg-white w-20 shadow-lg border-r">
        <div class="w-full h-20 p-7">
            <a href="" class="h-full w-full">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list w-full h-full" viewBox="0 0 16 16"> 
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </a>
        </div>
        <div class="w-full h-20 p-7">
            <a href="/transactions">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a2.25 2.25 0 00-2.25-2.25H15a3 3 0 11-6 0H5.25A2.25 2.25 0 003 12m18 0v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 9m18 0V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v3" />
            </svg>   
            </a>            
            <p class="text-xs -translate-x-6 mt-1 text-slate-700">Transactions</p>        
        </div>
        <div class="w-full h-20 p-7">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0120.25 6v12A2.25 2.25 0 0118 20.25H6A2.25 2.25 0 013.75 18V6A2.25 2.25 0 016 3.75h1.5m9 0h-9" />
          </svg>
          <p class="text-xs -translate-x-2 mt-1 text-slate-700">Report</p>
        </div>   
        <div class="w-full h-20 p-7">
            <a href="/money">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"     stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                </svg>
            </a>
            <p class="text-xs -translate-x-2 mt-1 text-slate-700">Money</p>
        </div>
    </div>
    <nav class="fixed w-full top-0 bg-white h-16 border-b-1 border-black">
        <div class="ml-24 flex justify-between items-center mr-5 h-full">
            <div class="flex gap-x-3">
                <div class="h-10 w-10">
                    <a href="/">
                        <img src="https://static.moneylover.me/img/icon/ic_category_all.png" alt="">
                    </a>
                </div>
                <div class="">
                    <p>Money</p>
                    <p><%= convertRupiah(data.money) %></p>
                </div>
            </div>
            <div class="flex gap-x-4 h-full items-center">
                
                <div>
                    <a href="/transactions/category">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                          </svg>                          
                    </a>
                </div>
                <div>
                    <a href="/transactions/date">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                        </svg>
                    </a>
                      
                </div>
                <div>

                </div>
                <div class="py-1 px-3 bg-green-700 text-white rounded-lg">
                    <a href="/addPost">Add Transaction</a>
                </div>
                <% if(!isLogin){ %>
                    <div class="flex gap-x-3">
                    <p>
                        <a href="/register">Register</a>
                    </p>
                    <p>
                        <a href="/login">Login</a>
                    </p>
                </div>
                <% }else{ %>
                    <div>
                        <p>
                            <a href="/logout">Logout</a>
                        </p>
                    </div>
                <%  } %> 
            
            </div>
        </div>
    </nav>
    <div class="mx-44 my-32 bg-white p-4">
        <table class="border-1 w-full">
            <thead>
                <tr class="border border-black">
                    <th class="border border-black">Category</th>
                    <th class="border border-black">Title</th>
                    <th class="border border-black">Type</th>
                    <th class="border border-black">Date</th>
                    <th class="border border-black">Amount</th>
                    <th class="border border-black">Action</th>
                </tr>
            </thead>
            <tbody>
                <% result.map(el => { %>
                    <tr>
                        <th><%= el.Category.title %></th>
                        <th><%= el.title %></th>
                        <th><%= el.Category.type %></th>
                        <th><%= el.formatDate()%></th>
                        <th><%= el.amount %></th>
                        <th>
                            <a href="/delete/<%= el.id %>">Delete</a>
                            <a href="/edit/<%= el.id %>">Edit</a>
                        </th>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
</body>
</html>